<!--Pagina profilo utente-->
<div class="row gtr-uniform">
  <div class="col-3 col-4-mobile">
    <%= link_to 'Back', root_path, class:'button icon solid fa-chevron-left' %>
  </div>
  <div class="col-9 col-8-mobile">
    <h2>Il tuo profilo</h2>
  </div>
  <h4 class="col-4 col-12-mobile">
    <strong>Username:</strong> <%= @user.username %>
  </h4>
  <!-- Dati che visualizzo solo se sono il proprietario del profilo -->
  <%if current_user.id == @user.id %>
    <h4 class="col-4 col-12-mobile">
      <strong>Email:</strong> <%= @user.email %>
    </h4>
  <%end %>
</div>
<hr class="col-12 col-12-mobilep">
<!-- Visualizzazione profilo di un altro utente -->
<%if @user.id == current_user.id %>
  <div class="col-12 col-12-mobile">
    <%= link_to 'Modifica il tuo profilo', edit_user_registration_path , class:'button'%>
  </div>
<%end %>


