<section id="banner">
  <h2 style="font-size: 5.5em;">Thermo Pi</h2>
  <h2>Home of your Smart Thermo Pi</h2>
</section>

<!-- Main -->
<section class="home_page">
  <section class="box special">
    <header class="major">
      <h2>This is you smart Thermo Pi administration panel</h2>
      <% if user_signed_in? && !current_user.username.nil?%>
        <h2>Benvenuto <%=current_user.username %></h2>
      <%end %>
      <p>Here you can manage whatever you need remotely in your thermo pi</p>
    </header>
  </section>

  <footer id="footer">
    <ul class="copyright">
      <li>&copy; Serva. All rights reserved.</li>
    </ul>
  </footer>
</section>