<div class="row gtr-uniform">
  <div class="col-2 col-4-mobile ">
    <%= link_to 'Back', room_orari_on_offs_path(params[:room_id]), class: "button icon solid fa-chevron-left"%>
  </div>
  <div class="col-9 col-8-mobile">
    <h2>Modifica gli orari della stanza relativi al giorno: <b><%=@days[@orari[0].giorno]%></b></h2>
  </div>

  <% unless @error.nil? %>
    <div class="col-12 col-12-mobile">
      <h2 class="error">Errore nella modifica degli orari, controlla meglio i campi e riprova</h2>
    </div>
  <% end %>

  <hr class="col-12 col-12-mobile">

  <%= render 'form_edit', orari: @orari %>
</div>