<div class="col-12 col-12-narrower">
  <section class="box special">
    <div class="col-12 col-12-mobilep ">
      <i class="far fa-sad-tear fa-7x"></i>
    </div>
    <div class="col-12 col-12-mobilep ">
      <h2>Ci scusiamo per l'inconveniente, c'è stato un problema inaspettato con la pagina.</h2>
    </div>
    <div class="col-12 col-12-mobilep ">
      <h4>Rivolgiti all'amministratore di sistema se l'errore si ripresenta.</h4>
    </div>
    <div class="col-12 col-12-mobilep ">
      <a href="/"><h3><b>Clicca qui per tornare alla home</b></h3></a>
    </div>
  </section>
</div>